
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version=1.0>
<dict>
<key>Description</key>
<string>This is a template description.</string>
<key>Identifier</key>
<string>com.MyLibrary.BaseApplication</string>
<key>Kind</key>
<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
<key>Nodes</key>
<array>
<string>MyLibrary/MyLibrary.h</string>
<string>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.h</string>
<string>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.m</string>
<string>MyLibrary/Utilities/GCDMulticastDelegate.h</string>
<string>MyLibrary/Utilities/GCDMulticastDelegate.m</string>
<string>MyLibrary/categories/Foundation/NSDate+My.h</string>
<string>MyLibrary/categories/Foundation/NSDate+My.m</string>
<string>MyLibrary/categories/Foundation/NSFileManager+My.h</string>
<string>MyLibrary/categories/Foundation/NSFileManager+My.m</string>
<string>MyLibrary/categories/Foundation/NSObject+My.h</string>
<string>MyLibrary/categories/Foundation/NSObject+My.m</string>
<string>MyLibrary/categories/Foundation/NSString+My.h</string>
<string>MyLibrary/categories/Foundation/NSString+My.m</string>
<string>MyLibrary/categories/UIKit/UIView+My.h</string>
<string>MyLibrary/categories/UIKit/UIView+My.m</string>
<string>MyLibrary/categories/UIKit/UIViewController+My.h</string>
<string>MyLibrary/categories/UIKit/UIViewController+My.m</string>
<string>MyLibrary/view/MyColor.h</string>
<string>MyLibrary/view/MyRefresh/MyRefresh.h</string>
<string>MyLibrary/view/MyRefresh/MyRefreshBaseView.h</string>
<string>MyLibrary/view/MyRefresh/MyRefreshBaseView.m</string>
<string>MyLibrary/view/MyRefresh/MyRefreshFooterView.h</string>
<string>MyLibrary/view/MyRefresh/MyRefreshFooterView.m</string>
<string>MyLibrary/view/MyRefresh/MyRefreshHeaderView.h</string>
<string>MyLibrary/view/MyRefresh/MyRefreshHeaderView.m</string>
<string>MyLibrary/view/MyRefresh/UIScrollView+Refresh.h</string>
<string>MyLibrary/view/MyRefresh/UIScrollView+Refresh.m</string>
<string>MyLibrary/view/MySegmentView.h</string>
<string>MyLibrary/view/MySegmentView.m</string>
<string>MyLibrary/view/MyView.h</string>
<string>MyLibrary/view/MyView.m</string>
<string>MyLibrary/view/cell/MyTextFieldTableViewCell.h</string>
<string>MyLibrary/view/cell/MyTextFieldTableViewCell.m</string>
<string>MyLibrary/viewController/MyCollectionViewController.h</string>
<string>MyLibrary/viewController/MyCollectionViewController.m</string>
<string>MyLibrary/viewController/MyTableViewController.h</string>
<string>MyLibrary/viewController/MyTableViewController.m</string>
<string>MyLibrary/viewController/MyViewController.h</string>
<string>MyLibrary/viewController/MyViewController.m</string>
</array>
<key>Definitions</key>
<dict>
<key>MyLibrary/MyLibrary.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
</array>
<key>Path</key>
<string>MyLibrary/MyLibrary.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>ThirdParty</string>
<string>MBProgressHUD</string>
</array>
<key>Path</key>
<string>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>ThirdParty</string>
<string>MBProgressHUD</string>
</array>
<key>Path</key>
<string>MyLibrary/ThirdParty/MBProgressHUD/MBProgressHUD.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/Utilities/GCDMulticastDelegate.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>Utilities</string>
</array>
<key>Path</key>
<string>MyLibrary/Utilities/GCDMulticastDelegate.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/Utilities/GCDMulticastDelegate.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>Utilities</string>
</array>
<key>Path</key>
<string>MyLibrary/Utilities/GCDMulticastDelegate.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSDate+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSDate+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSDate+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSDate+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSFileManager+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSFileManager+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSFileManager+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSFileManager+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSObject+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSObject+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSObject+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSObject+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSString+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSString+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/Foundation/NSString+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>Foundation</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/Foundation/NSString+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/UIKit/UIView+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>UIKit</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/UIKit/UIView+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/UIKit/UIView+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>UIKit</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/UIKit/UIView+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/UIKit/UIViewController+My.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>UIKit</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/UIKit/UIViewController+My.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/categories/UIKit/UIViewController+My.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>categories</string>
<string>UIKit</string>
</array>
<key>Path</key>
<string>MyLibrary/categories/UIKit/UIViewController+My.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyColor.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyColor.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefresh.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefresh.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshBaseView.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshBaseView.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshBaseView.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshBaseView.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshFooterView.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshFooterView.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshFooterView.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshFooterView.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshHeaderView.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshHeaderView.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/MyRefreshHeaderView.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/MyRefreshHeaderView.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/UIScrollView+Refresh.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/UIScrollView+Refresh.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyRefresh/UIScrollView+Refresh.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>MyRefresh</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyRefresh/UIScrollView+Refresh.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MySegmentView.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MySegmentView.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MySegmentView.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MySegmentView.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyView.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyView.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/MyView.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
</array>
<key>Path</key>
<string>MyLibrary/view/MyView.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/cell/MyTextFieldTableViewCell.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>cell</string>
</array>
<key>Path</key>
<string>MyLibrary/view/cell/MyTextFieldTableViewCell.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/view/cell/MyTextFieldTableViewCell.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>view</string>
<string>cell</string>
</array>
<key>Path</key>
<string>MyLibrary/view/cell/MyTextFieldTableViewCell.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyCollectionViewController.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyCollectionViewController.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyCollectionViewController.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyCollectionViewController.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyTableViewController.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyTableViewController.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyTableViewController.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyTableViewController.m</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyViewController.h</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyViewController.h</string>
<key>TargetIndices</key>
<array/>
</dict>
<key>MyLibrary/viewController/MyViewController.m</key>
<dict>
<key>Group</key>
<array>
<string>MyLibrary</string>
<string>viewController</string>
</array>
<key>Path</key>
<string>MyLibrary/viewController/MyViewController.m</string>
<key>TargetIndices</key>
<array/>
</dict>
</dict>
</dict>
</plist>
